css file

html {
  background: black;
}

head {
    color: white;
}

body {
  background: black;
  background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.instrunment {
    width: 100;
    height: auto;
    margin-top: 50px;
}
