css file

html {
  background: black;
}

body {
  background: black;
  background-size: cover;
}

}
img {
  width:50px;
  height:auto;
  background-color: white;
  padding:20px;
  margin:20px;
  border-radius:25px;
  position: absolute;
  top: 50%;
  left: 50%;


}
