css file

html {
  background: black;
}

body {
  background: black;
  background-size: cover;
}
img{
  position: relative;
  top: 190px
}
.white-square {
  width:100px;
  height:100px;
  background-color: white;
  padding:20px;
  margin:20px;
  border-radius:25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 20px 20px 10px 10px white;

}
