css file

html {
  background: black;
}

head {
    color: white;
}

body {
  background: black;
  background-size: cover;
}

}
img {
  position: relative;
  width: 100px;
  height: 100px;
  opacity: .7;
}  
